@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

.home .header-content {
  @apply min-h-[600px];
}

.site-header {
  background-size: cover, cover;
  background-image: url(/peel-monument-styled.png), url(/bg/header.svg);
  background-position: center bottom, center bottom;
}

.vase-hero {
  background-image: url(/tilted-vase-styled.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

@media screen and (max-width: 64rem) {
  .vase-hero {
    background-position: center;
    background-size: cover;
  }
}